openapi: 3.0.1
info:
  title: MPCI Quoter API
  description: Provides MPCI quoting functionality.
  version: "1.21"
servers:
- url: https://mpciquoterapi.wattsandassociates.com
  description: Watts Prod Environment
- url: https://mpciquoterapi-uat.wattsandassociates.com
  description: Watts UAT Environment
security:
- Bearer: []
paths:
  /api/{tenantId}/Analytics/CalculateBackcasts:
    post:
      tags:
      - Analytics
      description: Calculate backcasts for the specified insurable units using multiple plans and prices.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateBackcasts_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateBackcasts_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateBackcasts_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Backcast results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateBackcastsResponse'
  /api/{tenantId}/Analytics/CalculateIndemnityScenarios:
    post:
      tags:
      - Analytics
      description: "Calculate Indemnity Scenarios"
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateIndemnityScenarios_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateIndemnityScenarios_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Analytics_CalculateIndemnityScenarios_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Indemnity scenario results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateIndemnityScenariosResponse'
  /api/{tenantId}/Lookups/GetMpciPlanElections:
    post:
      tags:
      - Lookups
      description: Translate simple quote elections into more complex plan elections.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPlanElections_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPlanElections_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPlanElections_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Generated plan elections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPlanElectionsResponse'
  /api/{tenantId}/Lookups/GetMpciInsurancePlans:
    get:
      tags:
      - Lookups
      description: Get available insurance plans matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When sales closing date is null, all available insurance plans will be returned.\r\nWhen populated, only insurance plans with the specified sales closing date will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: LimitToStandalonePlans
        in: query
        description: "When True, only plans that can be purchased on their own without requiring the purchase of any other plan will be returned.\r\nWhen False, all available plans will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available insurance plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciInsurancePlansResponse'
    post:
      tags:
      - Lookups
      description: Get available insurance plans matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsurancePlans_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsurancePlans_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsurancePlans_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available insurance plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciInsurancePlansResponse'
  /api/{tenantId}/Lookups/GetMpciUnitStructures:
    get:
      tags:
      - Lookups
      description: Get available unit structures matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available unit structures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciUnitStructuresResponse'
    post:
      tags:
      - Lookups
      description: Get available unit structures matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciUnitStructures_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciUnitStructures_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciUnitStructures_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available unit structures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciUnitStructuresResponse'
  /api/{tenantId}/Lookups/GetMpciCoverageLevels:
    get:
      tags:
      - Lookups
      description: Get available coverage levels matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SubCountyCode
        in: query
        description: "For no sub county code, either a null or and empty string \"\" is the same thing - the data will return for no sub county code specified"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 8
          type: string
      - name: CoverageTypeCode
        in: query
        description: "If null, then the all coverage levels will be returned. If specified, the coverage levels associated with the coverage type code will be returned"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 1
          type: string
      - name: InsuranceOptionCode
        in: query
        description: "If null, then the all coverage levels will be returned. If specified, the coverage levels associated with the insurance option code will be returned"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 2
          type: string
      - name: CompanionPlanCoverageLevel
        in: query
        description: "If null, then all coverage levels will be returned. If specified, the coverage levels associated with the particular companion plan coverage level will be returned\r\nRelevant plans: STAX, SCO, HIP-WI"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1
          minimum: 0
          type: number
          format: double
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available coverage levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCoverageLevelsResponse'
    post:
      tags:
      - Lookups
      description: Get available coverage levels matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageLevels_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageLevels_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageLevels_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available coverage levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCoverageLevelsResponse'
  /api/{tenantId}/Lookups/GetMpciInsuranceOptions:
    get:
      tags:
      - Lookups
      description: Get available insurance options matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SubCountyCode
        in: query
        description: "For no sub county code, either a null or and empty string \"\" is the same thing - the data will return for no sub county code specified"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 8
          type: string
      - name: CoverageTypeCode
        in: query
        description: A valid code out of the ADMs.
        required: true
        style: form
        explode: true
        schema:
          maxLength: 1
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available insurance options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciInsuranceOptionsResponse'
    post:
      tags:
      - Lookups
      description: Get available insurance options matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsuranceOptions_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsuranceOptions_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciInsuranceOptions_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available insurance options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciInsuranceOptionsResponse'
  /api/{tenantId}/Lookups/GetBulkMpciInsuranceOptions:
    get:
      tags:
      - Lookups
      description: Get available insurance options matching the specified bulk search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: CorrelatedParameters
        in: query
        description: An array of CorrelatedMpciInsuranceOptionsParameter items. Each item in the response will be correlated with each item in the request.
        required: true
        style: form
        explode: true
        schema:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/CorrelatedMpciInsuranceOptionsParameter'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available insurance options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkMpciInsuranceOptionsResponse'
  /api/{tenantId}/Lookups/GetBulkMpciPricingDefaults:
    get:
      tags:
      - Lookups
      description: Get pricing defaults matching the specified bulk search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: CorrelatedParameters
        in: query
        description: An array of CorrelatedMpciPricingDefaultsParameter items. Each item in the response will be correlated with each item in the request.
        required: true
        style: form
        explode: true
        schema:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/CorrelatedMpciPricingDefaultsParameter'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Pricing defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkMpciPricingDefaultsResponse'
  /api/{tenantId}/Lookups/GetMpciAssociatedPlans:
    get:
      tags:
      - Lookups
      description: Get available associated insurance plans matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When sales closing date is null, all available insurance plans will be returned.\r\nWhen populated, only insurance plans with the specified sales closing date will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available associated insurance plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciAssociatedPlansResponse'
    post:
      tags:
      - Lookups
      description: Get available associated insurance plans matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciAssociatedPlans_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciAssociatedPlans_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciAssociatedPlans_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available associated insurance plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciAssociatedPlansResponse'
  /api/{tenantId}/Lookups/GetMpciPriceAndVolatility:
    get:
      tags:
      - Lookups
      description: Get the projected price and volatility matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Projected price and volatility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPriceAndVolatilityResponse'
    post:
      tags:
      - Lookups
      description: Get the projected price and volatility matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceAndVolatility_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceAndVolatility_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceAndVolatility_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Projected price and volatility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPriceAndVolatilityResponse'
  /api/{tenantId}/Lookups/GetMpciSalesClosingDates:
    get:
      tags:
      - Lookups
      description: Get available sales closing dates matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sales closing dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSalesClosingDatesResponse'
    post:
      tags:
      - Lookups
      description: Get available sales closing dates matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSalesClosingDates_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSalesClosingDates_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSalesClosingDates_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sales closing dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSalesClosingDatesResponse'
  /api/{tenantId}/Lookups/GetMpciStates:
    get:
      tags:
      - Lookups
      description: Get available states matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: InsurancePlanCodes
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available states
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciStatesResponse'
    post:
      tags:
      - Lookups
      description: Get available states matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciStates_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciStates_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciStates_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available states
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciStatesResponse'
  /api/{tenantId}/Lookups/GetMpciCounties:
    get:
      tags:
      - Lookups
      description: Get available counties matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: InsurancePlanCodes
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available counties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCountiesResponse'
    post:
      tags:
      - Lookups
      description: Get available counties matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCounties_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCounties_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCounties_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available counties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCountiesResponse'
  /api/{tenantId}/Lookups/GetMpciCommodities:
    get:
      tags:
      - Lookups
      description: Get available commodities matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code. Set to null for all states.
        required: false
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code. Set to null for all counties.
        required: false
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: InsurancePlanCodes
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available commodities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCommoditiesResponse'
    post:
      tags:
      - Lookups
      description: Get available commodities matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCommodities_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCommodities_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCommodities_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available commodities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCommoditiesResponse'
  /api/{tenantId}/Lookups/GetMpciPractices:
    get:
      tags:
      - Lookups
      description: Get available practices matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: InsurancePlanCodes
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available practices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPracticesResponse'
    post:
      tags:
      - Lookups
      description: Get available practices matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPractices_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPractices_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPractices_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available practices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPracticesResponse'
  /api/{tenantId}/Lookups/GetMpciTypes:
    get:
      tags:
      - Lookups
      description: Get available types matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: SalesClosingDate
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: IncludePriorYearData
        in: query
        description: "When True the prior year's offering is used to fill in where the ReinsuranceYear's ADM data has yet to be published.\r\nDefaults to false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: InsurancePlanCodes
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null)."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTypesResponse'
    post:
      tags:
      - Lookups
      description: Get available types matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTypes_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTypes_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTypes_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTypesResponse'
  /api/{tenantId}/Lookups/GetMpciTYield:
    get:
      tags:
      - Lookups
      description: Get available T-Yields matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SubCountyCode
        in: query
        description: "For no sub county code, either a null or and empty string \"\" is the same thing - the data will return for no sub county code specified"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 8
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available T-Yields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTYieldResponse'
    post:
      tags:
      - Lookups
      description: Get available T-Yields matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYield_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYield_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYield_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available T-Yields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTYieldResponse'
  /api/{tenantId}/Lookups/GetMpciTYieldHistory:
    get:
      tags:
      - Lookups
      description: Get available T-Yield Histories matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SubCountyCode
        in: query
        description: "For no sub county code, either a null or and empty string \"\" is the same thing - the data will return for no sub county code specified"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 8
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available T-Yield History
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTYieldHistoryResponse'
    post:
      tags:
      - Lookups
      description: Get available T-Yield Histories matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYieldHistory_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYieldHistory_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTYieldHistory_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available T-Yield History
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTYieldHistoryResponse'
  /api/{tenantId}/Lookups/GetMpciSubCountyCodes:
    get:
      tags:
      - Lookups
      description: Get available sub county codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: "When populated, the results will be filtered on the input (unfiltered when null). \r\nWhen populated, must be a valid code out of the RMA ADMs."
        required: false
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sub county codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSubCountyCodesResponse'
    post:
      tags:
      - Lookups
      description: Get available sub county codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSubCountyCodes_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSubCountyCodes_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSubCountyCodes_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sub county codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSubCountyCodesResponse'
  /api/{tenantId}/Lookups/GetMpciPriceElectionRange:
    get:
      tags:
      - Lookups
      description: Get available price election range matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CoverageTypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maxLength: 1
          type: string
      - name: CoverageLevelPercent
        in: query
        description: "When populated, the coverage range returned will be the coverage range for that coverage level,\r\nWhen null, the coverage range will be the overall possible range for the selection"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1
          minimum: 0
          type: number
          format: double
      - name: IsNativeSod
        in: query
        description: "Examples of Native Sod \"Program Indicator Codes\" are \"N8\",\"NS\" - if PASS data has a native sod code, set this to TRUE to properly limit the available price elections available"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available price election range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPriceElectionRangeResponse'
    post:
      tags:
      - Lookups
      description: Get available price election range matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceElectionRange_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceElectionRange_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPriceElectionRange_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available price election range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPriceElectionRangeResponse'
  /api/{tenantId}/Lookups/GetMpciPreventedPlantAvailability:
    get:
      tags:
      - Lookups
      description: Get prevented plant availability matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: InsuranceOptionCodes
        in: query
        description: The insurance option codes for the plan (if any) should be passed here.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Prevent plant availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPreventedPlantAvailabilityResponse'
    post:
      tags:
      - Lookups
      description: Get prevented plant availability matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPreventedPlantAvailability_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPreventedPlantAvailability_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciPreventedPlantAvailability_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Prevent plant availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciPreventedPlantAvailabilityResponse'
  /api/{tenantId}/Lookups/GetMpciProgramIndicatorCodes:
    get:
      tags:
      - Lookups
      description: Get available program indicator codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available program indicator codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciProgramIndicatorCodesResponse'
    post:
      tags:
      - Lookups
      description: Get available program indicator codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciProgramIndicatorCodes_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciProgramIndicatorCodes_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciProgramIndicatorCodes_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available program indicator codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciProgramIndicatorCodesResponse'
  /api/{tenantId}/Lookups/GetMpciCoverageTypeCodes:
    get:
      tags:
      - Lookups
      description: Get available coverage type codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: SubCountyCode
        in: query
        description: "For no sub county code, either a null or and empty string \"\" is the same thing - the data will return for no sub county code specified"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 8
          type: string
      - name: CoverageLevelPercent
        in: query
        description: "If null, then all coverage type codes will be returned. If specified, coverage type codes that are valid for that coverage level will be returned."
        required: false
        style: form
        explode: true
        schema:
          maximum: 1
          minimum: 0
          type: number
          format: double
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available coverage type codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCoverageTypeCodesResponse'
    post:
      tags:
      - Lookups
      description: Get available coverage type codes matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageTypeCodes_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageTypeCodes_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciCoverageTypeCodes_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available coverage type codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciCoverageTypeCodesResponse'
  /api/{tenantId}/Lookups/GetMpciMultipleCroppingAvailability:
    get:
      tags:
      - Lookups
      description: Get multiple cropping availability matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: UnderlyingInsurancePlanCode
        in: query
        description: Required when insurance plan code is 37. Ignored otherwise.
        required: false
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Multiple cropping availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciMultipleCroppingAvailabilityResponse'
    post:
      tags:
      - Lookups
      description: Get multiple cropping availability matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciMultipleCroppingAvailability_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciMultipleCroppingAvailability_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciMultipleCroppingAvailability_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Multiple cropping availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciMultipleCroppingAvailabilityResponse'
  /api/{tenantId}/Lookups/GetMpciSections:
    get:
      tags:
      - Lookups
      description: Get available township/range sections matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: Township
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      - name: Range
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSectionsResponse'
    post:
      tags:
      - Lookups
      description: Get available township/range sections matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSections_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSections_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciSections_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available sections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciSectionsResponse'
  /api/{tenantId}/Lookups/GetMpciTownships:
    get:
      tags:
      - Lookups
      description: Get available townships matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: Section
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      - name: Range
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available townships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTownshipsResponse'
    post:
      tags:
      - Lookups
      description: Get available townships matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTownships_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTownships_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciTownships_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available townships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciTownshipsResponse'
  /api/{tenantId}/Lookups/GetMpciRanges:
    get:
      tags:
      - Lookups
      description: Get available township ranges matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: Section
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      - name: Township
        in: query
        description: "When specified, the result will be filtered by the input"
        required: false
        style: form
        explode: true
        schema:
          maxLength: 4
          type: string
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available ranges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciRangesResponse'
    post:
      tags:
      - Lookups
      description: Get available township ranges matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciRanges_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciRanges_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciRanges_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available ranges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciRangesResponse'
  /api/{tenantId}/Lookups/GetMpciContractPrice:
    get:
      tags:
      - Lookups
      description: Get available contract prices matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: TypeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: PracticeCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: InsurancePlanCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available contract prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciContractPriceResponse'
    post:
      tags:
      - Lookups
      description: Get available contract prices matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciContractPrice_body'
          text/json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciContractPrice_body_1'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Lookups_GetMpciContractPrice_body_2'
      responses:
        "400":
          description: Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "200":
          description: Available contract prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMpciContractPriceResponse'
  /api/{tenantId}/Lookups/GetMpciUnitOfMeasure:
    get:
      tags:
      - Lookups
      description: Get unit of measure matching the specified search criteria.
      parameters:
      - name: tenantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: ReinsuranceYear
        in: query
        required: true
        style: form
        explode: true
        schema:
          maximum: 9999
          minimum: 0
          type: integer
          format: int32
      - name: StateCode
        in: query
        description: A state FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 99
          minimum: 0
          type: integer
          format: int32
      - name: CountyCode
        in: query
        description: A county FIPS code.
        required: true
        style: form
        explode: true
        schema:
          maximum: 999
          minimum: 0
          type: integer
          format: int32
      - name: CommodityCode
        in: query
        description: A valid code out of the RMA ADMs.
        required: true
        style: form
        explode: true
[...]
